:root {
  font-size: 60%;
  --color-background-header: #FFFFFF;
  --color-backgroud-sub-header: #F5F5F5;
  --color-background: #FFFFFF;
  --color-button-obs: #E53935;
  --color-button: #E53935;
  --color-black: #212121;
  --color-border-bottom: #d4d4d4;
  --color-info-adicional: #4c4c4c;
  --color-item-sku: #7d7d7d;
  --color-item-qtd: #d2d2d2;
  --color-title-modal: #FFFFFF;
  --color-label-form: #6d6d6d;
  --color-button-comprar: #5DCE63;
  --color-modal-header: #673F91;
  --color-input-placeholder-header: #BDBDBD
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

header {
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 160px;
  background-color: var(--color-background-header);
}

.icon-text {
  display: flex;
  align-items: center;
}

.icon-text > svg {
  height: 100%;
}

.logo-content {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.search-bar-content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.search-bar-content > .cart-content-icon > svg {
  color: var(--color-button);
}

.input-busca-prod {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--color-black);
}

input {
  font: 400 12px Roboto;
  letter-spacing: 0.5px;
  padding-left: 7px;
}

body,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

@media (min-width: 700px){
  :root{
    font-size: 62.5%;
  }
}